<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .rounded {
            border-radius: 50px;
        }

        .squared {
            width: 50px;
            height: 50px;
        }
        .goldenRod {
            background-color: goldenrod;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-show="!isLoaded" class="progress">
            <div class="indeterminate"></div>
        </div>
        <post-template v-for="post in posts" v-bind:post="post"/>
        <h1 id="contenedor">{{titulo}}</h1>
        <span v-bind:style="{'color': 'goldenrod', 'font-size': '14px', fontWeight: 'bold'}">Subtítulo</span>
        <div class="container">
            <div class="squared teal" v-bind:class="{rounded: rounded, squared}">
                
            </div>
        </div>
        <button v-on:click="(rounded=true, squared=false)">Rounded</button>
        <button v-on:click="(rounded=false, squared=true)">Squared</button>
        <br />

        <div class="container">
            <div v-bind:class="[roundedClass, goldenRod]">
                
            </div>
        </div>
        <br />

        Título:
        Contador: {{contador}}
        <br />
        <input type="text" v-model="titulo" :disabled="txtDisabled">
        <br />
        <button @click="incrementar">Incrementar</button>
        <br />
        Marcas de vehículos
        <br />
        <select v-model="marca_id" @change="setCars('')">
            <option></option>
            <option v-for="marca in marcas" v-bind:value="marca.id" :selected="marca.id == marca_id">{{marca.nombre}}</option>
        </select>
        <button @mouseover="setCars(1)">Toyota</button>
        <button @mouseover="setCars(2)">Honda</button>
        <button @mouseover="setCars(3)" @mouseout="marca_id=null">Nissan</button>
        <br />
        <br />
        <button @click="showModelX=!showModelX">Show me the Model X</button>
        <img v-show="showModelX" src="model_x.png">
        <br />
        Marca Seleccionada: {{marca_id}}
        <br />
        Logo:
        
        <img v-if="marca_id == 1" src="toyota.png">
        <img v-else-if="marca_id == 2" src="honda.jpg">
        <img v-else-if="marca_id == 3" src="nissan.png">
        <img v-else="marca_id == 3" src="tesla.png">
        <br />
        <div v-for="vehiculo in vehiculos">
            <input  type="radio" name="radio-vehiculo" v-bind:value="vehiculo.id" :key="vehiculo.id"> {{ vehiculo.nombre }}
        </div>
        <br />
        <span v-for="vehiculo in vehiculos">
            <input type="checkbox" v-bind:value="vehiculo.id" :key="vehiculo.id"> {{ vehiculo.nombre }}
        </span>
        <input type="checkbox" :checked="isChecked"> Checked
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
const App = {
    data() {
        return {
            titulo: 'Follow Rivers',
            contador: null,
            marca_id: 1,
            vehiculos: [],
            showModelX: false,
            txtDisabled: true,
            isChecked: true,
            rounded: true,
            squared: true,
            isLoaded: false,
            roundedClass: 'rounded btn',
            goldenRod: 'goldenRod',
            posts: [],
            marcas: [
                {
                    id: 1, 
                    nombre: "Toyota",
                    vehiculos: [
                        {
                            id: 1, nombre: "Corolla"
                        },
                        {
                            id: 2, nombre: "Yaris"
                        }
                    ]
                },
                {
                    id: 2, 
                    nombre: "Honda",
                    vehiculos: [
                        {
                            id: 1, nombre: "Civic"
                        },
                        {
                            id: 2, nombre: "City"
                        }
                    ]
                },
                {
                    id: 3, 
                    nombre: "Nissan",
                    vehiculos: [
                        {
                            id: 1, nombre: "X-Trail"
                        },
                        {
                            id: 2, nombre: "Sentra"
                        }
                    ]
                },
            ]
        }
    },
    beforeCreate() {
        document.querySelector('#contenedor');
        console.log('Before create... ' + this.contador);
    },
    created() {
        document.querySelector('#contenedor');
        console.log('Create... ' + this.contador);
        fetch('https://jsonplaceholder.typicode.com/posts')
                .then(response => response.json())
                .then(json => this.posts = json);
    },
    beforeMount() {
        document.querySelector('#contenedor');
        console.log('beforeMount... ' + this.contador);
    },
    mounted() {
        document.querySelector('#contenedor');
        console.log('mounted... ' + this.contador);
        this.contador = 0;
        setTimeout(() => {
            this.isLoaded = true;
        }, 1000);
    },
    beforeUpdate() {
        document.querySelector('#contenedor');
        console.log('beforeUpdate... ' + this.contador);
    },
    updated() {
        document.querySelector('#contenedor');
        console.log('updated... ' + this.contador);
    },
    beforeUnmount() {
        document.querySelector('#contenedor');
        console.log('beforeUnmounted... ' + this.contador);
    },
    unmounted() {
        document.querySelector('#contenedor');
        console.log('unmounted... ' + this.contador);
    },
    methods: {
        incrementar() {
            this.contador++;
        },
        setCars(value = null) {
            // console.log(marca_id)
            if(value) this.marca_id = value;
            console.log(this.marca_id)
            
            this.vehiculos = [];
            
            if(this.marca_id) {
                var tmp = this.marcas.filter(item => item.id === this.marca_id);
                this.vehiculos = tmp[0].vehiculos;
            }
        }
    }
}

var app = Vue.createApp(App);
app.component(
    'post-template', {
        template: `
            <div class="card-panel teal white-text">
                <h5>{{post.id}} {{post.title}}</h5>
                <p>{{post.body}}</p>
            </div>
        `,
        props: {
            post: Object
        }
    }
);

app.mount('#app');
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>